<ion-view title="Login" id="page4">
    <ion-content padding="true" class="has-header">
        <form id="login-form" class="list" novalidate>
            <ion-list id="login-list2">
                <label class="item item-input" id="login-input1">
                    <span class="input-label" >Username</span>
                    <input type="text" placeholder="" ng-model="usu" required>
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 66px;"></div>
            <a ui-sref="menu.trivia" ng-click="guardarUsu(usu)" id="login-button5" class="button button-stable  button-block" ng-disabled="login-form.$invalid">Entrar</a>
        </form>
    </ion-content>
</ion-view>